aiohttp @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4c_8pz93lf/croot/aiohttp_1670009562783/work
aiohttp-retry==2.8.3
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
aiostream==0.4.5
alembic==1.11.1
anthropic==0.2.7
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
arrow==1.2.3
asgiref==3.6.0
asteroid-filterbanks==0.4.0
async-timeout @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_19fv27ehgp/croots/recipe/async-timeout_1664876371666/work
asyncio==3.4.3
attrs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_978y9aqcd7/croot/attrs_1668696180911/work
audioread==3.0.0
Authlib==1.2.1
av==10.0.0
backoff==2.2.1
beautifulsoup4==4.12.1
black==23.1.0
blessed==1.20.0
blessings==1.7
boltons @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f63n9uulmp/croot/boltons_1677628710094/work
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_07078715-3ab7-4562-8d3d-d56b0eaa0f7dp504n_ny/croots/recipe/bottleneck_1657175566567/work
brotlipy==0.7.0
build==0.10.0
CacheControl==0.12.14
cachetools==5.3.0
certifi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5c4sjwommo/croot/certifi_1683875376620/work/certifi
cffi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ab19r4bji3/croot/cffi_1670423206034/work
chardet==5.1.0
charset-normalizer==3.1.0
chromadb==0.3.22
cleo==2.0.1
click @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-quwchbn8/click_1646123324461/work
clickhouse-connect==0.5.24
cloudpickle==2.0.0
cmaes==0.9.1
cohere==4.1.3
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.7.0
conda @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_3bspr1yk3p/croot/conda_1685025187626/work
conda-content-trust @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_11146a2b-93c2-444c-a378-ad4fac363e991s0r1hnp/croots/recipe/conda-content-trust_1658126383571/work
conda-package-handling @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5f3f459f9v/croot/conda-package-handling_1672865025324/work
conda_package_streaming @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_58gpsa_6af/croot/conda-package-streaming_1670508144037/work
contourpy==1.0.7
crashtest==0.4.1
croniter==1.3.14
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8c_qoky_1b/croot/cryptography_1673298759921/work
cssselect==1.2.0
ctranslate2==3.13.0
cycler==0.11.0
dataclasses-json==0.5.7
datasets @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5eqct1blor/croot/datasets_1684482935720/work
dateutils==0.6.12
decorator==5.1.1
deepdiff==6.3.0
dill @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_7eaenha9af/croot/dill_1667919539340/work
distlib==0.3.7
dnspython==2.3.0
docker==6.0.1
docopt==0.6.2
duckdb==0.7.1
duckduckgo-search==2.8.5
dulwich==0.21.5
einops==0.6.1
fairscale==0.4.13
fastapi==0.88.0
faster-whisper==0.5.1
ffmpeg-python==0.2.0
filelock==3.12.2
fire==0.5.0
Flask==2.1.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
flatbuffers==23.5.9
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.39.4
frozenlist @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_38d0xkqt7k/croot/frozenlist_1670004509129/work
fsspec @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b41fwm88q_/croot/fsspec_1682526071956/work
future==0.18.3
google-api-core==2.11.0
google-api-python-client==2.84.0
google-auth==2.17.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.0
gradio_client==0.2.5
grpclib==0.4.3
gTTS==2.3.1
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hiq-python==1.1.12
hnswlib==0.7.0
hpack==4.0.0
html5lib==1.1
httpcore==0.17.0
httplib2==0.22.0
httptools==0.5.0
httpx==0.24.0
huggingface-hub==0.13.2
humanfriendly==10.0
hyperframe==6.0.1
HyperPyYAML==1.2.0
idna @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_771olrhiqw/croot/idna_1666125579282/work
importlib-metadata==6.6.0
inquirer==3.1.3
installer==0.7.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
Jinja2==3.1.2
joblib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a357ltg47g/croot/joblib_1685113093574/work
jsonlines==3.1.0
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jsonschema==4.18.3
jsonschema-specifications==2023.6.1
julius==0.2.7
keyring==23.13.1
kiwisolver==1.4.4
langchain==0.0.166
lazy_loader==0.2
librosa==0.10.0.post2
lightning==2.0.2
lightning-cloud==0.5.36
lightning-utilities==0.8.0
llama-cpp-python==0.1.55
llvmlite==0.40.0
lockfile==0.12.2
loguru==0.6.0
lxml==4.9.2
lz4==4.3.2
Mako==1.2.4
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
mdurl==0.1.2
mido==1.3.0
mmh3==3.1.0
modal-client==0.49.2209
monotonic==1.6
more-itertools==9.1.0
mpmath==1.3.0
msgpack==1.0.5
multidict @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_bd3x0mcjpv/croot/multidict_1665674237951/work
multiprocess @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c71oabygq3/croot/multiprocess_1668006436256/work
mypy-extensions==1.0.0
networkx==3.1
nltk==3.8.1
nomic==1.1.4
numba==0.57.0
numexpr @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_76yyu1p9jk/croot/numexpr_1683221830860/work
numpy==1.24.0
omegaconf==2.3.0
onnxruntime==1.14.1
openai==0.27.2
openapi-schema-pydantic==1.2.4
optuna==3.1.1
ordered-set==4.1.0
packaging==23.1
pandas==1.5.3
pathspec==0.11.0
pdfminer.six==20221105
pexpect==4.8.0
Pillow==9.4.0
pinecone-client==2.2.1
pinecone-text==0.5.2
pkginfo==1.9.6
platformdirs==3.9.1
playsound==1.2.2
pluggy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-w6jyveby/pluggy_1648109277227/work
poetry==1.5.1
poetry-core==1.6.1
poetry-plugin-export==1.4.0
pooch==1.6.0
posthog==3.0.1
primePy==1.3
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.5
psycopg2==2.9.3
ptyprocess==0.7.0
py-itree==0.0.19
pyannote.audio @ git+https://github.com/pyannote/pyannote-audio@11b56a137a578db9335efc00298f6ec1932e6317
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==2.3
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e9xhel3kyj/croot/pycosat_1666805516297/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.7
Pygments==2.14.0
pygpt4all==1.1.0
pygptj==2.0.3
PyJWT==2.6.0
pyllama==0.0.9
pyllamacpp==2.1.3
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
pyproject_hooks==1.0.0
PySocks @ file:///Users/ktietz/ci_310/pysocks_1643961536721/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
python-editor==1.0.4
python-multipart==0.0.6
pytorch-lightning==2.0.2
pytorch-metric-learning==2.1.1
pytz @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c56ru3yml9/croot/pytz_1671697451306/work
PyYAML @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8dd_9u21zz/croot/pyyaml_1670514759576/work
rapidfuzz==2.15.1
readability-lxml==0.8.1
readchar==4.0.5
referencing==0.29.1
regex @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c16d2a8a-126e-4d7e-8084-357d1f1d1103zj2vwnhn/croots/recipe/regex_1658257182710/work
requests==2.28.2
requests-toolbelt==1.0.0
responses @ file:///tmp/build/80754af9/responses_1619800270522/work
rich==13.3.2
rpds-py==0.8.11
rsa==4.9
ruamel.yaml @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_aeh5mqcw49/croot/ruamel.yaml_1666304555976/work
ruamel.yaml.clib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f64xdg2rww/croot/ruamel.yaml.clib_1666302244208/work
sacremoses @ file:///tmp/build/80754af9/sacremoses_1633107328213/work
scikit-learn==1.2.2
scipy==1.10.1
semver==3.0.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
shellingham==1.5.0.post1
sigtools==4.0.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4
soxr==0.3.5
speechbrain==0.5.14
SQLAlchemy==2.0.13
starlette==0.22.0
starsessions==1.3.0
sympy==1.12
synchronicity==0.5.2
tabulate==0.9.0
tblib==1.7.0
tenacity==8.2.2
tensorboardX==2.6
termcolor==2.3.0
threadpoolctl==3.1.0
tiktoken==0.3.3
tokenizers @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_7db77927-99b6-465c-8ca1-ec571d368d0bpvthvh8_/croots/recipe/tokenizers_1651822590284/work
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
toolz @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_362wyqvvgy/croot/toolz_1667464079070/work
torch==2.0.1
torch-audiomentations==0.11.0
torch-pitch-shift==1.2.4
torchaudio==2.0.1
torchmetrics==0.11.4
torchvision==0.14.1
tqdm==4.65.0
traitlets==5.9.0
transformers @ file:///Users/yamil/Projects/stanford_alpaca/transformers
trove-classifiers==2023.7.6
twilio==8.0.0
typer==0.9.0
types-certifi==2021.10.8.3
types-toml==0.10.8.6
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.6
uvicorn==0.22.0
uvloop==0.17.0
validators==0.21.0
virtualenv==20.24.0
watchfiles==0.19.0
wcwidth==0.2.6
weaviate-client==3.23.0
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.3
Werkzeug==2.2.3
wget==3.2
-e git+https://github.com/m-bain/whisperX.git@a23f2aa3f7c0ed1c8dea9b52cf54a5ee88895787#egg=whisperx
wonderwords==2.2.0
WTForms==2.3.3
xattr==0.10.1
xxhash @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5dctqdmbn8/croot/python-xxhash_1667919512545/work
yarl @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a5sx8bz_hq/croots/recipe/yarl_1661437083380/work
zipp==3.15.0
zstandard @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_99wz2rcox4/croots/recipe/zstandard_1663827384884/work
